/node_modules
/public/hot
/public/storage
/storage/*.key
vendor/arrilot/
vendor/bin/
vendor/composer/
vendor/dnoegel/
vendor/doctrine/
vendor/dragonmantank/
vendor/egulias/
vendor/erusev/
vendor/fideloper/
vendor/filp/
vendor/fzaninotto/
vendor/guzzlehttp/
vendor/hamcrest/
vendor/intervention/
vendor/jakub-onderka/
vendor/justinrainbow/
vendor/larapack/
vendor/laravel
vendor/lcobucci
vendor/league
vendor/mockery
vendor/monolog
vendor/myclabs
vendor/namshi
vendor/nesbot
vendor/nikic
vendor/nunomaduro
vendor/paragonie
vendor/phar-io
vendor/phpdocumentor
vendor/phpspec
vendor/phpunit
vendor/psr
vendor/psy
vendor/ramsey
vendor/sebastian
vendor/seld
vendor/swiftmailer
vendor/symfony
vendor/theseer
vendor/tijsverkoyen
vendor/tymon
vendor/webmozart
vendor/autoload.php
vendor/vlucas
vendor/tcg/voyager/migrations
vendor/tcg/voyager/publishable
vendor/tcg/voyager/resources/assets
vendor/tcg/voyager/routes
vendor/tcg/voyager/src
vendor/tcg/voyager/stubs
vendor/tcg/voyager/tests
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
